/* Standard Nav Menu */
.site-nav a {
	color: white;

		&:hover {
		color: #eeab26;
}
}
.site-nav ul {
	position: absolute;
	top: 5%;
	left: 0%;
	margin: 0;
	padding: 0;
	height: 30px;
	width: 100%;
	background-color: black;
	color: white;
}

.site-nav li { 
	float: right;
	display: block;
	text-align: left;
	padding-right: 20px;
	position: relative;
	top: 25%;
}